<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="VisualTeX Windows Office Integration"
    Manufacturer="VisualTeX"
    ProductCode="B1B4A7F8-6B58-4B31-9F07-D13E5A203D20"
    Version="1.0.20.0"
    UpgradeCode="A81B4BF7-0E51-45CE-A5AA-5E28F6944F42"
    Scope="perUser"
    Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="A newer VisualTeX Windows Office integration is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="VisualTeXLocalFolder" Name="VisualTeX">
        <Directory Id="VisualTeXOfficeFolder" Name="WindowsOffice">
          <Directory Id="INSTALLFOLDER" Name="VSTO" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="VisualTeX Windows Office Integration" Level="1">
      <ComponentRef Id="VstoFiles" />
      <ComponentRef Id="WordComRegistration" />
      <ComponentRef Id="PowerPointComRegistration" />
      <ComponentRef Id="WordOfficeRegistration" />
      <ComponentRef Id="PowerPointOfficeRegistration" />
      <ComponentRef Id="ModeRegistration" />
    </Feature>

    <Component Id="VstoFiles" Directory="INSTALLFOLDER" Guid="D9AA16B0-E4D8-4C53-AAB6-A14781F0A4C1">
      <File Id="WordVstoAssembly" Source="$(WordOutput)\VisualTeX.WordVsto.dll" />
      <File Id="PowerPointVstoAssembly" Source="$(PowerPointOutput)\VisualTeX.PowerPointVsto.dll" />
      <File Id="ContractsAssembly" Source="$(WordOutput)\VisualTeX.WindowsOffice.Contracts.dll" />
      <File Id="SystemTextJson" Source="$(WordOutput)\System.Text.Json.dll" />
      <File Id="SystemTextEncodingsWeb" Source="$(WordOutput)\System.Text.Encodings.Web.dll" />
      <File Id="SystemMemory" Source="$(WordOutput)\System.Memory.dll" />
      <File Id="SystemBuffers" Source="$(WordOutput)\System.Buffers.dll" />
      <File Id="SystemUnsafe" Source="$(WordOutput)\System.Runtime.CompilerServices.Unsafe.dll" />
      <File Id="SystemTasksExtensions" Source="$(WordOutput)\System.Threading.Tasks.Extensions.dll" />
      <File Id="MicrosoftBclAsync" Source="$(WordOutput)\Microsoft.Bcl.AsyncInterfaces.dll" />
      <File Id="WordInterop" Source="$(WordOutput)\Microsoft.Office.Interop.Word.dll" />
      <File Id="PowerPointInterop" Source="$(PowerPointOutput)\Microsoft.Office.Interop.PowerPoint.dll" />
      <RegistryValue
        Root="HKCU"
        Key="Software\VisualTeX\OfficeIntegration"
        Name="VstoFilesInstalled"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <RemoveFolder Id="RemoveVstoInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      <RemoveFolder Id="RemoveVisualTeXOfficeFolder" Directory="VisualTeXOfficeFolder" On="uninstall" />
      <RemoveFolder Id="RemoveVisualTeXLocalFolder" Directory="VisualTeXLocalFolder" On="uninstall" />
    </Component>

    <Component Id="WordComRegistration" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKCU" Key="Software\Classes\VisualTeX.WordVsto">
        <RegistryValue Type="string" Value="VisualTeX.WordVsto.ThisAddIn" />
        <RegistryKey Key="CLSID">
          <RegistryValue Type="string" Value="{F1B68342-F9C6-4E7D-A9C6-A2F64C3558A1}" />
        </RegistryKey>
      </RegistryKey>
      <RegistryKey Root="HKCU" Key="Software\Classes\CLSID\{F1B68342-F9C6-4E7D-A9C6-A2F64C3558A1}">
        <RegistryValue Type="string" Value="VisualTeX Word VSTO" />
        <RegistryKey Key="InprocServer32">
          <RegistryValue Type="string" Value="mscoree.dll" />
          <RegistryValue Name="ThreadingModel" Type="string" Value="Both" />
          <RegistryValue Name="Class" Type="string" Value="VisualTeX.WordVsto.ThisAddIn" />
          <RegistryValue Name="Assembly" Type="string" Value="VisualTeX.WordVsto, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
          <RegistryValue Name="CodeBase" Type="string" Value="file:///[INSTALLFOLDER]VisualTeX.WordVsto.dll" KeyPath="yes" />
          <RegistryKey Key="1.0.0.0">
            <RegistryValue Name="Class" Type="string" Value="VisualTeX.WordVsto.ThisAddIn" />
            <RegistryValue Name="Assembly" Type="string" Value="VisualTeX.WordVsto, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
            <RegistryValue Name="CodeBase" Type="string" Value="file:///[INSTALLFOLDER]VisualTeX.WordVsto.dll" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Key="ProgId">
          <RegistryValue Type="string" Value="VisualTeX.WordVsto" />
        </RegistryKey>
        <RegistryKey Key="Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
      </RegistryKey>
    </Component>

    <Component Id="PowerPointComRegistration" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKCU" Key="Software\Classes\VisualTeX.PowerPointVsto">
        <RegistryValue Type="string" Value="VisualTeX.PowerPointVsto.ThisAddIn" />
        <RegistryKey Key="CLSID">
          <RegistryValue Type="string" Value="{7E586D2D-57B0-4D14-AB24-EBA9021A5E6D}" />
        </RegistryKey>
      </RegistryKey>
      <RegistryKey Root="HKCU" Key="Software\Classes\CLSID\{7E586D2D-57B0-4D14-AB24-EBA9021A5E6D}">
        <RegistryValue Type="string" Value="VisualTeX PowerPoint VSTO" />
        <RegistryKey Key="InprocServer32">
          <RegistryValue Type="string" Value="mscoree.dll" />
          <RegistryValue Name="ThreadingModel" Type="string" Value="Both" />
          <RegistryValue Name="Class" Type="string" Value="VisualTeX.PowerPointVsto.ThisAddIn" />
          <RegistryValue Name="Assembly" Type="string" Value="VisualTeX.PowerPointVsto, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
          <RegistryValue Name="CodeBase" Type="string" Value="file:///[INSTALLFOLDER]VisualTeX.PowerPointVsto.dll" KeyPath="yes" />
          <RegistryKey Key="1.0.0.0">
            <RegistryValue Name="Class" Type="string" Value="VisualTeX.PowerPointVsto.ThisAddIn" />
            <RegistryValue Name="Assembly" Type="string" Value="VisualTeX.PowerPointVsto, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <RegistryValue Name="RuntimeVersion" Type="string" Value="v4.0.30319" />
            <RegistryValue Name="CodeBase" Type="string" Value="file:///[INSTALLFOLDER]VisualTeX.PowerPointVsto.dll" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Key="ProgId">
          <RegistryValue Type="string" Value="VisualTeX.PowerPointVsto" />
        </RegistryKey>
        <RegistryKey Key="Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" />
      </RegistryKey>
    </Component>

    <Component Id="WordOfficeRegistration" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\Word\Addins\VisualTeX.WordVsto">
        <RegistryValue Name="FriendlyName" Type="string" Value="VisualTeX" />
        <RegistryValue Name="Description" Type="string" Value="VisualTeX native Word formula integration" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" KeyPath="yes" />
        <RegistryValue Name="CommandLineSafe" Type="integer" Value="0" />
      </RegistryKey>
    </Component>

    <Component Id="PowerPointOfficeRegistration" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\PowerPoint\Addins\VisualTeX.PowerPointVsto">
        <RegistryValue Name="FriendlyName" Type="string" Value="VisualTeX" />
        <RegistryValue Name="Description" Type="string" Value="VisualTeX native PowerPoint formula integration" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" KeyPath="yes" />
        <RegistryValue Name="CommandLineSafe" Type="integer" Value="0" />
      </RegistryKey>
    </Component>

    <Component Id="ModeRegistration" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKCU" Key="Software\VisualTeX\OfficeIntegration">
        <RegistryValue Name="Mode" Type="string" Value="vsto" KeyPath="yes" />
        <RegistryValue Name="OleManifestEnabled" Type="integer" Value="0" />
      </RegistryKey>
    </Component>
  </Package>
</Wix>
